<script context="module">
  import { acceptedLanguages } from "../../locales"
  import { language } from "../../stores"
  import {
    validateChoice,
  } from "../../validators/core"

  export function preload(page /* , session */) {
    const [params, error] = validateParams(page.params)
    if (error !== null) {
      return this.error(
        400,
        `Errors in query parameters: ${JSON.stringify(
          error,
          null,
          2,
        )}`,
      )
    }

    language.set(params.language)
    return { params }
  }

  function validateParams(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object, got ${typeof data}`]
    }

    data = {
      ...data,
    }
    const remainingKeys = new Set(Object.keys(data))
    const errors = {}

    {
      const key = "language"
      remainingKeys.delete(key)
      const [value, error] = validateChoice(acceptedLanguages)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected entry"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  import { goto, stores } from "@sapper/app"

  import NewIssueModal from "../../components/NewIssueModal.svelte"
  import AppNav from "../../components/AppNav.svelte"
  import config from "../../config"

  export let params
  export let segment

  const { session } = stores()
  let showNewIssueModal = false

  $: $language = params.language

  async function logout(/* event */) {
    // eslint-disable-next-line no-undef
    await fetch("auth/logout", {
      credentials: "same-origin",
      method: "POST",
    })
    $session = { ...$session, user: null }
    goto($language)
  }
</script>

<AppNav
  on:logout={logout}
  on:openNewIssueModal={() => (showNewIssueModal = true)}
  {segment} />
<main class="pt-16">
  {#if config.globalAlert}
    {@html config.globalAlert.messageHtml}
  {/if}
  <slot />
  {#if showNewIssueModal}
    <NewIssueModal on:close={() => (showNewIssueModal = false)} />
  {/if}
</main>
