<script context="module">
  export async function preload() {
    const response = await this.fetch("years", {
      credentials: "same-origin",
    })
    const years = await response.json()
    return { years }
  }
</script>

<script>
  import {
    faExclamationTriangle,
  } from "@fortawesome/free-solid-svg-icons/faExclamationTriangle"
  import Icon from "fa-svelte"

  import { language, localize } from "../../stores"

  export let years
  let currentYear = null
  let pages = []

  async function toggleYear(year) {
    if (currentYear === year) {
      currentYear = null
      return
    }
    // eslint-disable-next-line no-undef
    const response = await fetch(`pages?year=${year}`, {
      credentials: "same-origin",
    })
    pages = await response.json()
    currentYear = year
  }
</script>

<svelte:head>
  <title>{$localize("Favre_Yearbooks")}</title>
</svelte:head>

<div class="container mx-auto">
  <article class="max-w-md mx-auto my-10 text-center">
    <img
      class="w-1/2 mx-auto block"
      src="dfih-logo-150x74.png"
      alt="{$localize("DFIH_Logo")}" />
    <h1 class="text-3xl">{$localize("Home_page_subtitle")}</h1>
  </article>
  {#if years.length === 0}
    <section
      class="bg-orange-100 border-l-4 border-orange-500 mx-auto my-4 p-4
      text-orange-500 md:w-2/3 lg:1/2">
      <div class="flex mx-auto p-4">
        <div class="mr-4">
          <div
            class="h-10 w-10 text-orange-100 bg-orange-500 rounded-full flex
            justify-center items-center">
            <Icon icon={faExclamationTriangle} />
          </div>
        </div>
        <div>
          <p class="mb-2 font-bold">Welcom!</p>
          <p>{$localize("No_year_yet")}</p>
        </div>
      </div>
      <div class="flex justify-end mt-4 py-2">
        <a
          class="bg-orange-500 hover:bg-orange-700 font-bold px-4 py-2 rounded
          text-orange-100"
          href="{$language}/edit">
          {$localize("Begin_edition")}
        </a>
      </div>
    </section>
  {:else}
    <h2 class="text-2xl">{$localize("Years")}</h2>
    <ul class="list-disc list-inside">
      {#each years as year}
        <li>
          <button on:click="{() => toggleYear(year)}">{year}</button>
          {#if year === currentYear && pages.length > 0}
            <div class="ml-4">
              <ul class="list-disc list-inside">
                {#each pages as page}
                  <li><a href="{$language}/edit?year={year}&page={page}">{page}</a></li>
                {/each}
              </ul>
              <div class="flex justify-start py-2">
                <a
                  class="bg-gray-600 hover:bg-gray-800 font-bold px-4 py-2 rounded
                  text-gray-100"
                  href="{$language}/edit?year={year}&page={Math.max(...pages, 0) + 1}">
                  {$localize("New_page")}
                </a>
              </div>
            </div>
          {/if}
        </li>
      {/each}
    </ul>
    <div class="flex justify-start mt-4 py-2">
      <a
        class="bg-gray-600 hover:bg-gray-800 font-bold px-4 py-2 rounded
        text-gray-100"
        href="{$language}/edit?year={Math.max(...years, 1929) + 1}">
        {$localize("New_year")}
      </a>
    </div>
  {/if}
</div>
